

.mainHeader{
    width: 100vw;
    height: 18vh;
    background-color: black;
    display: flex;
    flex-direction: row;
}

.mainLogo{
    margin-top: 1vh;
    margin-left: 4vw;
    width: 160px;
    height: 140px;
    background-image: url('Designher.jpg');
    background-position: center;
    background-size: cover;
    border: solid 2px green;
}

.headerRightSide{
    margin-top: 1vh;
    border: solid 2px green;
    width: 160px;
    height: 140px;
}